<section class="contact bg-primary">
    <div class="container">
        <div class="Thx">
          <h2> '<%=@team.team_name%>' </h2>
<% @team.players.each do |p| %>
 <p class="text-muted">
<%=  p.fullname + ', ' + p.position + ', ' + p.country %><br>
    <%  end %>
</p>
    <br>
    <button class="btn" > <%= link_to 'Edit players', edit_user_team_path(current_user, @team) %>  <button class="btn" ><%= link_to 'Delete Team', user_team_path(@team), method: :delete %><br>
  </button>
  </div>
  <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
  <b> <p class="text-muted"> <%= @team.get_captain.fullname %> is  your current captain </b>
        <br>
        <%= image_tag("ben.jpg", width: 500, class: "img-responsive center-block") %>
</div>
</div>
