<section class="contact bg-primary"
    <div class="container">

        <div class="Thx">
              <h1> Here is your team! </h1>

<% @team.players.each do |p| %>
<%=  p.fullname + ', ' + p.position + ', ' + p.country %><br>
    <%  end %>
    <br>
  <b>  <%= @team.get_captain.fullname %> is  your current captain </b>
    <br>
    <div class="button">
      <h4> Edit Team: <%= link_to @team.team_name, edit_user_team_path(current_user, @team) %> </h4>
<%= link_to 'Delete Team', user_team_path(@team), method: :delete %>
</div>
</div>
<%= image_tag("ben.jpg", width: 500, class: "img-responsive center-block") %>
