<!DOCTYPE html>
<html>
  <head>
    <title>FantasyBasketball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'new-age', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container"
  <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>

  <body>

    <%if !user_signed_in?%>
    <%= link_to "Login", new_user_session_path %>
    <%else%>
    <%= link_to "Available Players |", players_path %>
      <%= link_to "Your Teams |", user_teams_path(current_user) %>
    <%= link_to "Create A Team |", new_team_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%end%>
    <%= yield %>



  </body>
  </div>
</html>
